<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= typeof title !== 'undefined' ? title : 'Kurumsal Kartvizit' %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <% if (success && success.length) { %>
    <div class="flash flash-success"><%= success[0] %></div>
  <% } %>
  <% if (error && error.length) { %>
    <div class="flash flash-error"><%= error[0] %></div>
  <% } %>
  <%- body %>
  <script src="/js/panel.js"></script>
</body>
</html>
